html,



body{
    height: 100%;
    font-family: 'Josefin Slab', serif;
    background-image: url("palm_tree_branches_pastel_128581_2048x1152.jpg");
    background-size: auto auto;
    margin: 0;
}
.h3{
    font-family: 'Josefin Slab', serif;
    font-size: 20px;
    fon
}
.header text-center{
    font-size: 36px;

}


.container m-auto{

}

.form-group mt-5 p-3{

}

.form-control{
    border-radius: 30px 30px 30px 30px;
}

.form group p-3{

}

.passwordField1{

}
<!-- button -->
.btn btn-primary{

}










